* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Open Sans", "Poppins";
}

.header-section {
  padding: 4rem 8rem;
  position: absolute;
  width: 100%;
}
.navi {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header-logo {
  width: 20rem;
}

.header-btn,
.header-btn:link,
.header-btn:visited {
  padding: 1.5rem 7rem;
  background-color: #fff;
  color: hsl(192, 100%, 9%);
  box-shadow: 0 7px 10px 1px rgba(0, 0, 0, 0.199);
  border: none;
  border-radius: 50px;

  font-weight: 800;
  justify-self: flex-end;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 0.5s;
}

.header-btn:hover,
.header-btn:active {
  filter: opacity(0.5);
}

.main {
}

.hero-section {
  background-image: url(images/bg-hero-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: hsl(193, 100%, 96%);

  padding: 4rem 8rem;
  padding-top: 13rem;
}

.container {
  display: flex;
  align-items: center;
  gap: 4rem;
  justify-content: space-between;
}

.hero-text-box {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.hero-header {
  font-family: "Poppins";
  font-size: 4.3rem;
  color: hsl(192, 100%, 9%);
}

.hero-text {
  font-size: 2rem;
  font-weight: 500;
  color: hsl(208, 11%, 55%);
}

.hero-btn,
.hero-btn:link,
.hero-btn:visited {
  padding: 2rem 5rem;
  background-color: hsl(322, 100%, 66%);
  color: #fff;
  max-width: 31rem;
  border: none;
  border-radius: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.5s;
}

.hero-btn:hover,
.hero-btn:active {
  filter: opacity(0.6);
}

.hero-img {
  max-width: 75rem;
}

.features-section {
  padding: 15rem 10rem 33rem 10rem;
}

.container-feature {
  display: flex;
  gap: 3rem;
  flex-direction: column;
  align-items: center;
}

.feature--1 {
  display: flex;
  box-shadow: 1px 1px 5px 1px rgba(21, 21, 21, 0.126);
  border-radius: 5px;
  padding: 4rem 2rem;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-left: 10rem;
}

.feature-text-box {
  width: 54rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.feature-header {
  font-family: "Poppins";
  font-size: 3rem;
  color: hsl(192, 100%, 9%);
  font-weight: 700;
}

.feature-text {
  font-size: 2rem;
  font-weight: 500;
  color: hsl(208, 11%, 55%);
}

.feature-img-box {
  width: 47rem;
}

.illu-img {
  width: 100%;
}

.cta-box {
  position: absolute;
  top: -32%;
  left: 24%;
  box-shadow: 0 7px 10px 1px rgba(0, 0, 0, 0.199);
  padding: 7rem 18rem;
  background-color: #fff;
  border-radius: 10px;
}

.cta-container {
  color: hsl(192, 100%, 9%);

  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

.cta-header {
  font-size: 2.8rem;
}

.cta-btn,
.cta-btn:link,
.cta-btn:visited {
  padding: 2rem 8rem;
  border: none;
  border-radius: 100px;
  background-color: hsl(322, 100%, 66%);
  color: hsl(193, 100%, 96%);
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.5s;
  box-shadow: 0 7px 10px 1px rgba(0, 0, 0, 0.199);
}

.cta-btn:hover,
.cta-btn:active {
  filter: opacity(0.6);
}

.footer-section {
  padding: 15rem 10rem 10rem 10rem;
  background-color: hsl(192, 100%, 9%);
  color: #fff;
  position: relative;
}

.container-footer {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.footer-logo-box {
}

.footer-info-box {
  display: flex;
  gap: 19rem;
  align-items: flex-start;
  color: hsl(193, 100%, 96%);
}

.footer-cop-box {
  align-self: flex-end;
}

.footer-info {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.footer-logo {
  width: 20rem;
  filter: brightness(0) invert(1);
}

.adress {
  text-decoration: none;
  font-size: 1.5rem;
  max-width: 37rem;
  color: hsl(193, 100%, 96%);
}

.footer-info-item {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: flex-start;
}

.info-icon {
  width: 2rem;
  height: 2rem;
}

.footer-nav {
}

.footer-nav-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10rem;
  row-gap: 3rem;
}

.footer-nav-item a,
.footer-nav-item:link,
.footer-nav-item:visited {
  font-size: 1.5rem;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}

.footer-nav-item:hover,
.footer-nav-item:active {
  text-decoration: underline;
}

.footer-logo-coppy {
}

.logo-coppy-cointainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.footer-logo-group {
  display: flex;
  gap: 1rem;
}

.footer-copy {
  font-size: 1.2rem;
}

@media (max-width: 24em) {
  html {
    font-size: 55%;
  }

  .header-section {
    padding: 2rem 2rem;
  }
  .navi {
    align-items: center;
  }

  .header-logo {
    width: 10rem;
  }

  .header-btn,
  .header-btn:link,
  .header-btn:visited {
    padding: 1rem 4rem;
    font-weight: 800;
    font-size: 1rem;
  }

  .hero-section {
    background-image: url(images/bg-hero-mobile.svg);
    padding: 2rem 4rem;
    padding-top: 10rem;
    height: 100vh;
    width: 100vw;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    justify-content: center;
    text-align: center;
  }
  .hero-text-box {
    gap: 2rem;
    align-items: center;
  }

  .hero-header {
    font-size: 3rem;
  }

  .hero-text {
    font-size: 1.88rem;
  }

  .hero-btn,
  .hero-btn:link,
  .hero-btn:visited {
    padding: 1.5rem 7rem;
    max-width: 31rem;
  }

  .hero-img {
    max-width: 100%;
  }
  /* ******************* feature  */

  .features-section {
    padding: 5rem 2rem 20rem 2rem;
  }

  .container-feature {
    display: flex;
    gap: 3rem;
    flex-direction: column;
    align-items: center;
  }

  .feature--1 {
    padding: 6rem 4rem;
    flex-direction: column-reverse;
    gap: 4rem;
  }

  .feature-rev {
    flex-direction: column;
  }

  .feature-text-box {
    width: 100%;

    text-align: center;
  }

  .feature-header {
    font-size: 2rem;
  }

  .feature-text {
    font-size: 1.5rem;
  }

  .feature-img-box {
    width: 100%;
  }

  /* *********** CTA */

  .cta-box {
    top: -13%;
    left: 3%;
    box-shadow: 0 7px 10px 10px rgba(0, 0, 0, 0.199);
    padding: 3rem 3.8rem;
  }

  .cta-container {
    gap: 3rem;
    align-items: center;
    text-align: center;
  }

  .cta-header {
    font-size: 2rem;
  }

  .cta-btn,
  .cta-btn:link,
  .cta-btn:visited {
    padding: 1.5rem 4rem;

    font-size: 1.2rem;
  }

  /*********** footer **********/

  .footer-section {
    padding: 15rem 3rem 3rem 3rem;
  }

  .container-footer {
    gap: 3rem;
  }

  .footer-info-box {
    flex-direction: column;
    gap: 3rem;
  }

  .footer-cop-box {
    align-self: center;
  }

  .adress {
    text-decoration: none;
    font-size: 1.5rem;
    max-width: 28rem;
    color: hsl(193, 100%, 96%);
  }

  .footer-nav-list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  .footer-logo-coppy {
    align-self: center;
    margin-top: 5rem;
    margin-bottom: -1rem;
  }
}
